<div class="grid">

  <div class="col-12 md:col-12 xl:col-12">
    <span class="title-page">{{ 'legal-notice' | translate}}</span>
  </div>

  <div class="col-12 md:col-12 xl:col-12">
    <p>
      By fulfilling the Spanish Information Society Services and Electronic Commerce Act 34/2002 of 11th July (LSSICE), users are here by informed that the domain owner promisces.eurecatprojects.com is FUNDACIÓ EURECAT (hereinafter <b>“Provider”</b> or <b>“Eurecat”</b>), whose identification data details are as follows:
    </p>
    <p>
      Registered Office: Avda. Universitat Autònoma 23, 08290 Cerdanyola del Vallès, Barcelona (Spain)<br>
    </p>
    <p>
      Tax Identification Code: G66210345<br>
      Email address: <a href="mailto:legal@eurecat.org">legal@eurecat.org</a><br>
      Register details: registered at Registre de Fundacions de la Generalitat de Catalunya with number 2826
    </p>
  </div>


  <div class="col-12 md:col-12 xl:col-12">
    <div class="title-section">SUBJECT MATTER AND SCOPE</div>
  </div>

  <div class="col-12 md:col-12 xl:col-12">
    <p>
      The main purpose of the Legal Notice is to provide the information regarding access and uses to the web <a href="https://promisces.eurecatprojects.com/" target="_blank">promisces.eurecatprojects.com</a> (hereinafter “Web”) which has the subject matter of inform about the aim of the Promisces project and its related news and activities as well as to allows to the Internet users access thereto.
    </p><p>
      By accessing and/or using the Web, are considered to hold the role of a user (hereinafter “Users”) and in consequence the acceptance with no reservations of each and whole parts of its Legal Notice, Privacy and Cookies policies or, any other terms and conditions linked to the Web.
    </p><p>
      Users must carefully read the Legal Notice, the Privacy and Cookies Policy, also to consulting its content often to stay tuned about it because of the Eurecat’s right to carry out improves or updates at the Web contents or services, without prior notice being necessary. The Users who do not accept the content of its Legal Notices, Privacy or Cookies Policy or any related terms and conditions related to the Web, Eurecat begs you to not access neither to use the Web.
    </p>
  </div>


  <div class="col-12 md:col-12 xl:col-12">
    <div class="title-section">TERMS OF USE</div>
  </div>

  <div class="col-12 md:col-12 xl:col-12">
    <p>
      Users are the sole responsible for the use they could make of the Web as for the content reproduce out or through the Web and for the damages that it may cause. The Provider shall not be held liable for any damage from the Users Web access and uses. Users shall be held liable for any damages that the Provider could be caused because of a breach of the obligations undertaken by virtue of this Legal Notice, the Privacy and Cookies Policy and the applicable regulations.
    </p><p>
Users undertake to carefully use the whole Web, its contents and services, fulfilling with the applicable regulations, the rules of moral generally accepted, good conduct and public order as well as this Legal Notice and any other legal conditions or obligations included on the Web.
</p><p>
Users undertake to refrain the Web use, the contents and services thereto, for illegal or prohibited purposes, that could harm rights and interests of third parties or infringe this Legal Notice, as well as any actions that could damage, disable, overload, harm or hinder the normal use of the Web and its contents and services to other users.
</p><p>
Moreover, User expressly undertakes to do not delete, manipulate, disturb disable or from any other way damage the data, software and hardware, technical resources, electronic documents on the Web, as not to hinder access by other users to the Web by massive use of he Web resources, within those Eurecat provide the Web services and contents, and any other actions could damage, interrupt or leading errors on the Web.
</p><p>
Likewise, Users undertake not to introduce programs, viruses, macros applets, controllers ActiveX or any other logical or sequential characters devices that may cause any kind of alteration on the Provider or third parties’ systems.
</p><p>
Users agrees that the documents, graphics published on the Web server may include technical incorrections or typographic errors, as well as the Provider or its services suppliers, may develop Web improvements and/or changes at any time without it entitled the User to claim for damages.
</p><p>
In the same way, Users agrees that Eurecat reserves’ the right at any time to modify or interrupt the Web, conforming to “Modifications and Interruptions”, as well as the right to disable, limited or blocked Web access that infringes the Legal Notice, the third party’s rights, the applicable laws and/or public order, without it entitled the User to claim for damages against the Provider.

    </p>
  </div>


  <div class="col-12 md:col-12 xl:col-12">
    <div class="title-section">INTELLECTUAL OR INDUSTRIAL PROPERTY RIGHTS</div>
  </div>

  <div class="col-12 md:col-12 xl:col-12">
    <p>
      The Provider or its licensors are the holders of all the intellectual or industrial property rights related to the Web and the contents thereto, this being deemed to mean, in particular but not limited to, the designs, data bases, underlying programs (includes source an object codes), as well as different elements included on the Web (texts, logos, graphics, photographs, colors…), structure, order and the legal texts, etcetera (hereinafter <b>“Contents”</b>). The trademarks and trade names (hereinafter <b>“Distinctive Signs”</b>) are owned by the Provider or its licensors.
    </p><p>
      The use of the Web does not grant to the User related intellectual and/or industrial property rights licenses.  Likewise, reproducing, copying, distributing, putting available to third parties or making public communications, transforming or modifying the Contents and/or the Distinctive Signs, by the User is prohibited unless express consent to do so has given from who concern or are lawful actions.
    </p>
  </div>


  <div class="col-12 md:col-12 xl:col-12">
    <div class="title-section">MODIFICATIONS AND INTERRUPTIONS</div>
  </div>

  <div class="col-12 md:col-12 xl:col-12 ">
    <p>
      Access to the Web and its contents and services thereto, may be interrupted due to maintenance tasks or failures beyond the Provider which may be solved by the period required.
    </p><p>
      Eurecat hereby reserves the right to making modifications at any time without User notifications related to the Web, contents, services, scope, and any information or resources thereto.
    </p><p>
      Likewise, Provider reserves the right to disable or blocked the Web access or delete or limited the contents in case that considers that infringes this Legal Notice, third parties’ rights, the applicable laws and/or the public order.
    </p><p>
      Provider is not liable about the security mistakes also to the damages that may cause at Users devices (hardware and software) and for the files or documents therein storage, because of the viruses, Internet or telephone companies’ failures, interferences, disconnects or omissions from the operative functions of the Web and/or because of reasons that not belongs to Eurecat.
    </p><p>
      Provider is not liable from the direct or indirect damages because of Web use, from the server and its modifications and/or interruptions that may be caused to the User or third parties’.
    </p>
  </div>


  <div class="col-12 md:col-12 xl:col-12">
    <div class="title-section">LINKS POLICY (LINKING WEB AND LINKED WEB)</div>
  </div>

  <div class="col-12 md:col-12 xl:col-12">
    <div class="description-page">
      <ol type="1">
      <li> a) Linking Web </li><br>
    </ol>
    <p>
      Thirds parties whom intent to include link to this Web (hereinafter <b>“Linkikng Web”</b>) must fulfil the laws in force and may not host inappropriate, illegal pornographic, violent… content.
    </p>
    <p>
      Under no circumstances whatsoever shall the Provides be held liable for the contents from Linking Web nor does promote, guarantee, monitor or recommends the contents thereof.If the Linking Website does not comply with any of the aforementioned terms, this Legal Notice and/or the law, it must be immediately deleted.
    </p>

    <ol>
      <li> b) Linked Web</li>
    </ol>
      <p>
        This Web may include links to webs that belongs to third parties (hereinafter “Linked Web”) which are allowed to User’s access. However, the Provider shall not be held responsible for the contents from Linked Web, instead Users will be the responsible for accepting and checking it the access time by time.
      </p>
      <p>
        The Linked Web and its respective links do not imply Provider approval, support, or the existence of any marketing or business relationship between the Provider and the third parties located on Linked Web.
      </p>

    </div>
  </div>


  <div class="col-12 md:col-12 xl:col-12">
    <div class="title-section">SOCIAL MEDIA</div>
  </div>

  <div class="col-12 md:col-12 xl:col-12">
    <p>
      Provider may have social media profiles in several social media networks, which accessible to the Users though the links included on the Web, as well as join directly through the social media platform.
    </p><p>
The social media networks have their own terms and conditions of use and its privacy policies, for this reason, Users who follows the Provider profile on a social media, shall be under the legal terms stablished therein, because of that, Provider shall not be liable for any Users damages.
</p><p>
In accordance with the aforementioned, the User data belongs to the social media network, except for those cases that the data has been collected within marketing actions (contest, lottery, promotion…) promoted by the Provider.
</p><p>
The Provider may delete Users comments on their own social media profile in case that considers that infringes this Legal Notice, third parties’ rights, the applicable laws and/or public order. In addition, Provider shall be held from liability because of the inappropriate use on its social media profiles by the User as well as the publications that dimmish third parties’ rights, against applicable regulations, public order or for made a profit from Provider social media networks contents and quotes.
</p><p>
Hereby the links to the privacy policies from the social networks on which the Provider may have an active profile:
</p><p>
Twitter: <a href="https://twitter.com/es/privacy">https://twitter.com/es/privacy</a>
</p><p>
LinkedIn: <a href="https://www.linkedin.com/legal/privacy-policy?_l=es_ES">https://www.linkedin.com/legal/privacy-policy?_l=es_ES</a>
    </p>
  </div>


  <div class="col-12 md:col-12 xl:col-12">
    <div class="title-section">APPLICABLE LAW</div>
  </div>

  <div class="col-12 md:col-12 xl:col-12">
    <p>
      This Legal Notice, legal text and Web shall be governed and interpreted according to Spanish law.
    </p><p>
      Any disputes that may arise because of the Web use shall be submitted to the relevant Courts and Tribunals in accordance with the consumers regulations applicable.
    </p>
  </div>


  <div class="col-12 md:col-12 xl:col-12">
    <div class="title-section">CONTACT</div>
  </div>

  <div class="col-12 md:col-12 xl:col-12">
    <p>
      User may query or comment regarding the Legal Notice or any other matter related to the Web as well as contact to the Provider, though this email address <a href="mailto:legal@eurecat.org">legal@eurecat.org</a>
    </p>
  </div>


</div>
