
    <div id="divConservativeBarChart" style="text-align: -webkit-center;"></div>
    <div id="divRobustBarChart" ></div>
    <div id="divAverageBarChart" ></div>
    <!--<container-element [ngSwitch]="viewSelected">
      <div *ngSwitchCase="SubstanceViewTypeEnum.graphConservative">
        <div id="divConservativeBarChart" style="text-align: -webkit-center;"></div>
      </div>
      <div *ngSwitchCase="SubstanceViewTypeEnum.graphRobust">
        <div id="divRobustBarChart" ></div>
      </div>
      <div *ngSwitchCase="SubstanceViewTypeEnum.graphAverage">
        <div id="divAverageBarChart" ></div>
      </div>
    </container-element>-->


