<div class="grid">

  <div class="col-12 md:col-12 xl:col-12">
    <span class="title-page">{{ 'cookies-policy' | translate}}</span>
  </div>

  <div class="col-12 md:col-12 xl:col-12">
    <div class="title-section">What are cookies and what are they used for?</div>
  </div>
  <div class="col-12 md:col-12 xl:col-12">
    <p>
      A cookie is a file that is downloaded to the user’s device when they access certain websites which stores and retrieves information about the browsing activity on their computer.
    </p>
    <p>
      Cookies allow this website, among other things, to store and retrieve information about the user’s decisions and habits. Some of the cookies used on this website are necessary for it to function.
    </p>
    <p>
      It is important to highlight that the use of cookies does not provide access to the user’s personal data.
    </p>
  </div>


  <div class="col-12 md:col-12 xl:col-12">
    <div class="title-section">What kind of cookies exist?</div>
  </div>
  <div class="col-12 md:col-12 xl:col-12">
    <p>
      Depending on the time they remain active, Cookies can be divided into session or persistent cookies.
    </p>
      <ul>
        <li>
          <b>Session cookies</b> are designed to collect and store data while the user accesses a website and are removed as soon the explorer is closed. They are normally used to store information which only needs to be kept in order to provide the service requested by the user on just one occasion.
        </li>
        <li>
          <b>Persistent cookies</b> remain stored on the device and can be accessed and handled during a period specified by the user of the cookie, which may be from a few minutes to several years.
        </li>
      </ul>
      <p>
        Additionally, depending on the organisation managing them, cookies may be classified as first-party or third-party cookies.
      </p>
      <ul>
        <li>
          <b>First-party cookies</b> are sent to the user’s device from a computer or domain managed by the website publisher and are used to provide the service requested by the user.
        </li>
        <li>
          <b>Third-party cookies</b> are sent to the user’s device from a computer or domain that is not managed by the website publisher, but by another organisation that handles data obtained from the cookies.
        </li>
      </ul>
      <p>
        In terms of their purpose, the types of cookies are:
      </p>
      <ul>
        <li>
          <b>Technical cookies:</b> Technical cookies allow the user to browse a website, platform or application and use the different service options found there.
        </li>
        <li>
          <b>Profiling cookies:</b> Profiling cookies allow the user to access the service with some predefined general features based on a series of criteria on the user’s device such as language, settings, etc.
        </li>
        <li>
          <b>Analytical cookies:</b> Analytical cookies allow the website owner to track and analyse user behaviour on the websites to which they are linked. The information collected is used to measure activity on the websites and to create users’ browsing profiles, with the aim of introducing improvements.
        </li>
        <li>
          <b>Advertising cookies:</b> Advertising cookies allow the advertising spaces which the publisher puts on the website to be managed as efficiently as possible.
        </li>
      </ul>

  </div>



  <div class="col-12 md:col-12 xl:col-12">
    <div class="title-section">What kind of cookies does the website use?</div>
  </div>
  <div class="col-12 md:col-12 xl:col-12">
    <p>
      The user may consult and set up the website cookies managed by the website publisher at Cookie settings.
    </p>
    <p>
The user should take account that although the cookies may be set up, certain cookies are needed and must be installed to ensure the proper access and use of the website, this cookies does not require the user’s agreed neither its management.
    </p>
  </div>

  <div class="col-12 md:col-12 xl:col-12">
    <div class="description-page ">
    <table class="p-datatable-wrapper p-datatable-table">
      <thead class="p-datatable-thead">
        <tr >
          <th width="30%" [align]="'left'">COOCKIE</th>
          <th width="10%" [align]="'left'">TYPE</th>
          <th width="15%" [align]="'left'">DURATION</th>
          <th width="50%" [align]="'left'">DESCRIPTION</th>
        </tr>
      </thead>
      <tbody class="p-datatable-tbody">
        <tr>
          <td>cookielawinfo-checkbox-advertisement</td>
          <td></td>
          <td>1 year</td>
          <td>
            <p>Set by the GDPR Cookie Consent plugin, this cookie is used to record the user consent for the cookies in the “Advertisement” category.
            </p>
          </td>
        </tr>
        <tr>
          <td>cookielawinfo-checkbox-analytics</td>
          <td>0</td>
          <td>11 months</td>
          <td>
            <p>This cookie is set by GDPR Cookie Consent plugin. The cookie is used to store the user consent for the cookies in the category “Analytics”.
            </p>
          </td>
        </tr>
        <tr>
          <td>cookielawinfo-checkbox-functional</td>
          <td>0</td>
          <td>11 months</td>
          <td>
            <p>
              The cookie is set by GDPR cookie consent to record the user consent for the cookies in the category “Functional”.
            </p>
          </td>
        </tr>
        <tr>
          <td>cookielawinfo-checkbox-necessary</td>
          <td>0</td>
          <td>11 months</td>
          <td>
            <p>This cookie is set by GDPR Cookie Consent plugin. The cookies is used to store the user consent for the cookies in the category “Necessary”.
            </p>
          </td>
        </tr>
        <tr>
          <td>cookielawinfo-checkbox-others</td>
          <td>0</td>
          <td>11 months</td>
          <td>
            <p>This cookie is set by GDPR Cookie Consent plugin. The cookie is used to store the user consent for the cookies in the category “Other.
            </p>
          </td>
        </tr>
        <tr>
          <td>cookielawinfo-checkbox-performance</td>
          <td>0</td>
          <td>11 months</td>
          <td>
            <p>This cookie is set by GDPR Cookie Consent plugin. The cookie is used to store the user consent for the cookies in the category “Performance”.
            </p>
          </td>
        </tr>
        <tr>
          <td>viewed_cookie_policy</td>
          <td>0</td>
          <td>11 months</td>
          <td>
            <p>The cookie is set by the GDPR Cookie Consent plugin and is used to store whether or not user has consented to the use of cookies. It does not store any personal data.
            </p>
          </td>
        </tr>
      </tbody>

    </table>
    </div>
  </div>


  <div class="col-12 md:col-12 xl:col-12">
    <div class="title-section">How do you disable cookies in a browser?</div>
  </div>
  <div class="col-12 md:col-12 xl:col-12">
    <p>
      The cookies set up is directly reflected to the browser used, however here are additional information about how the user can adjust the settings in their browser so as not to accept the use of cookies, in which case the user would not have a customized browsing experience. Choosing this setting may result in certain parts of the website not being accessible, as this may cause less effective browsing.
    </p>
    <p>
Most browsers currently allow the user to choose whether they want to accept cookies and which types. These settings are usually found in the “settings” or “preferences” in your browser’s menu.
    </p>
    <p>
Depending of the browser used by the user and its functionalities used may suppose the installation of cookies that are considered as a Third-party cookies. For example, in case of user chooses Google’s browser and uses its translate tool of the full website, Google install its own cookies in the user’s computers which are not managed by the website publisher as well as has not liability about them. The settings of the browser cookies should be done by the user directly at the browser website.
    </p>
    <p>
These are the instructions to change the cookie settings in the main browsers:
    </p>
      <ul>
        <li>
Information about cookies for <a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer">Mozilla Firefox</a>.
        </li>
        <li>
Information about cookies for <a href="https://support.microsoft.com/en-us/topic/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d">Internet Explorer</a>.
        </li>
        <li>
Information about cookies for <a href="https://help.opera.com/en/latest/web-preferences/">Opera</a>.
        </li>
        <li>
Information about cookies for <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=en">Google Chrome</a>.
        </li>
        <li>
Information about cookies for <a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac">Safari</a>.
        </li>
      </ul>
  </div>


  <div class="col-12 md:col-12 xl:col-12">
    <div class="title-section">Further informartion</div>
  </div>
  <div class="col-12 md:col-12 xl:col-12">
    <p>
      Further information about cookies as well as how to block them at www.allaboutcookies.org, www.youronlinechoices.eu. For any qüestions or comments about this website cookies, shall contact by email to info@eurecat.org as a web publisher or as a web service supplier.
    </p>
  </div>

</div>
