<!--<div class="">-->
    <div class="layout-footer">
      <!--<a id="footerlogolink">
          <img id="footer-logo"
              [src]="'assets/images/promisces-logo.png'" alt="promisces-logo">
      </a>-->
      <div class="social-icons" style="-ms-flex-align: end;
        align-items: end;">
        <span><p-image src="../assets/images/ec_disclaimer.png" alt="disclaimer" width="250"></p-image></span>
      </div>

      <div>
        <span class="title-footer">{{'findUs' | translate}}</span>
        <div >
          <div class="pt-1"><a href="https://promisces.eu/" title="promisces.eu" target="_blank"><i class="pi pi-globe pr-2"></i>promisces.eu</a></div>
          <div class="pt-1"><a href="https://www.linkedin.com/company/promisces" title="Linkendin Profile" target="_blank"><i class="pi pi-linkedin pr-2"></i>Linkendin Profile</a></div>
          <div class="pt-1"><a href="https://twitter.com/promisces_eu?lang=es" title="@Promisces_EU" target="_blank"><i class="pi pi-twitter pr-2"></i>@Promisces_EU</a></div>
        </div>
      </div>
    </div>

    <div class="layout-footer-inner" >
        <span><a [routerLink]="['/privacy']" target="_blank">{{ 'privacy-policy' | translate}}</a></span>
        <span> | </span>
        <span><a [routerLink]="['/legal']" target="_blank">{{ 'legal-notice' | translate }}</a></span>
        <span> | </span>
        <span><a [routerLink]="['/cookies']" target="_blank">{{ 'cookies-policy' | translate }}</a></span>
    </div>
<!--</div>-->
