.p-datatable .p-datatable-tbody > tr > td {
  /*border: unset;*/
}

.p-datatable .p-datatable-header {
  background: unset;
  font-weight: unset;
  padding-left: 0;
}

.formgroup-inline {
  align-items: center;
}
