<div class="grid">

  <div class="col-12 md:col-12 xl:col-12">
    <span class="title-page">{{ 'strategy.title' | translate }}</span>
    <p>What distinguishes a zero-pollution strategy from a technical solution?</p>

    <p>A zero-pollution strategy:​</p>
    <ul>
      <li>Considers feasibility, effectiveness and possible barriers to implementation of technical solutions, which can span social, environmental, human health, financial, technical and regulatory requirements​.</li>
      <li>Can be very specific for a circular economy route and local context​.</li>
      <li>Requires the involvement of stakeholders from the entire life cycle of chemicals.</li>
    </ul>

    <p>
      By combining the solutions offered in the Solutions Module with the information provided below, decision-makers can work towards a comprehensive zero-pollution strategy. 
    </p>
    
    
    <div class="grid">
      <!-- Left side boxes -->
      <div class="col-5 flex flex-column gap-4">
          <div class="p-4 border-round bg-primary text-white h-full">
              <p>Which action is most suitable to manage PM(T)s – remediation, prevention & substitution, co-creation & prioritization, monitoring, or hazard & exposure assessment?</p>
              <p>Review the CEN Workshop Agreement to work towards creating your own strategy:</p>
          </div>
      </div>
      <!-- Arrows in middle -->
      <div class="col-2 flex flex-column align-items-center justify-content-center">
          <div class="h-full flex align-items-center">
              <i class="pi pi-arrow-right text-500" style="font-size: 1.5rem"></i>
          </div>
      </div>
      <!-- Right side boxes -->
      <div class="col-5 flex flex-column gap-4">
          <div class="p-4 border-round h-full" style="background-color: #f8f9fa">
              <ul>
                <li>CWA Title [LINK]</li>
              </ul>
          </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-5 flex flex-column gap-4">
        <div class="p-4 border-round bg-primary text-white h-full">
            <p>What regulatory needs exist to adequately and effectively manage PMTs in the soil-water-sediment system?</p>
            <p>Review policy recommendations and needs that should accompany technological innovation:</p>
        </div>
      </div>
      <div class="col-2 flex flex-column align-items-center justify-content-center">
        <div class="h-full flex align-items-center">
            <i class="pi pi-arrow-right text-500" style="font-size: 1.5rem"></i>
        </div>
      </div>
      <div class="col-5 flex flex-column gap-4">
        <div class="p-4 border-round h-full" style="background-color: #f8f9fa">
            <ul>
              <li>Policy Brief (D5.3) [LINK]</li>
              <li>Policy Recommendations (D5.8) [LINK]</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="grid">
      <!-- Left side boxes -->
      <div class="col-5 flex flex-column gap-4">
          <div class="p-4 border-round bg-primary text-white h-full">
              <p>Interested in organizing a co-creation process with local stakeholders to collaboratively develop a zero-pollution strategy? </p>
              <p>View these resources and examples for guidance:</p>
          </div>
      </div>

      <!-- Arrows in middle -->
      <div class="col-2 flex flex-column align-items-center justify-content-center">
          <div class="h-full flex align-items-center">
              <i class="pi pi-arrow-right text-500" style="font-size: 1.5rem"></i>
          </div>
      </div>

      <!-- Right side boxes -->
      <div class="col-5 flex flex-column gap-4">
          <div class="p-4 border-round h-full" style="background-color: #f8f9fa">
              <ul> 
                <li>D5.6 Guidance on using co-creation to create zero-pollution strategies​</li>
                <li>Examples of co-creating zero-pollution strategies​</li>
                <ul>
                  <li>CS2 output summary​​</li>
                  <li>CS3 output summary​​</li>
                  <li>CS4 output summary​​</li>
                  <li>D5.4 [LINK]</li>
                </ul>
              </ul>
          </div>
      </div>
    </div>  
  </div>



